.add-user-button {
  margin: 20px 0 0 30px;
  width: 90px;
  height: 30px;
  background-color: rgb(2, 2, 77);
  color: white;
  font-weight: bold;
  border-width: 2px;
  border-color: rgb(0, 0, 27);
}

.show-add-user {
  display: none;
}
